<!DOCTYPE html>
<html lang="fr">
  <%- include("../partials/adminHead", { pageTitle, pageStylesheet }) %>
  <body class="admin-auth-body">
    <main class="admin-auth-main">
      <%- body %>
    </main>
  </body>
</html>
